<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Follower Requests</title>
    </head>
    <body>
        <a href="{% url 'profile' author_id=author.id %}">&lt; Go Back</a>
        <h1>Follow Requests</h1>
        <ul>
            {% if follow_authors %}
                {% for request_user in follow_authors %}
                    <li>
                        <a href="{% url 'profile' author_id=request_user.id %}">{{ request_user.display_name }}</a> wants to follow you.
                        <form method="POST" action="{% url 'approve_follow' author_id=author.id follower_id=request_user.id %}">
                            {% csrf_token %}
                            <button type="submit">Approve</button>
                        </form>
                        <form method="POST" action="{% url 'decline_follow' author_id=author.id follower_id=request_user.id  %}">
                            {% csrf_token %}
                            <button type="submit">Decline</button>
                        </form>
                    </li>
                {% endfor %}
            {% else %}
                <li>No follow requests.</li>
            {% endif %}
        </ul>

    <script>
        // accept follower
        fetch(`/api/authors/${author.id}/followers/${request_user.id}/approve/`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
                },
            })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
             window.location.href = `/node/{{user.id}}/profile`;
        })
        .catch(error => {
            console.error('Error:', error); // Handle error
        });

        // decline follower
        fetch(`/api/authors/${author.id}/followers/${request_user.id}/decline/`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
                },
            })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
             window.location.href = `/node/{{user.id}}/profile`;
        })
        .catch(error => {
            console.error('Error:', error); // Handle error
        });
    </script>
    </body>
</html>