{% extends 'base.html' %}

{% block title %}Home - All Posts{% endblock %}

{% block content %}
    <h1>All Posts</h1>

    {% if posts %}
        <ul class="post-list">
            {% for post in posts %}
                <li class="post-item">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p>{{ post.description }}</p>
                    <p>By {{ post.author.display_name }} on {{ post.published|date:"F j, Y, g:i a" }}</p>
                    <p>{{ post.text_content|truncatewords:30 }}</p>
                    <!-- Display likes and comments count -->
                    <p>
                        Likes: {{ post.likes }} | Comments: {{ post.comments }}
                    </p>
                    <!-- Like and Comment buttons -->

                    <a href="{% url 'view_post' post.id %}#comments">Comment</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available.</p>
    {% endif %}
{% endblock %}
