
.author-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.author-item {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    display: flex;
    align-items: center;
}

.author-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.author-details {
    flex: 1;
}

.author-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.author-name a {
    color: black;
    text-decoration: none;
    position: relative;
}

.author-name a:hover {
    color: darkgoldenrod;
}

.author-name a:hover::after {
    content: attr(data-host);
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 5px;
    font-size: 12px;
    color: #555;
    white-space: nowrap;
    z-index: 10;
}

.author-host {
    font-size: 14px;
    color: #555;
}

.button-container {
    margin-left: 20px;
}

.btn {
    padding: 10px;
    background-color: darkgoldenrod;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: darkgoldenrod 0px 0px 20px -5px;
}

.small-btn {
    padding: 5px 10px;
    font-size: 14px;
}

.button-container form {
    display: inline-block;
    margin-right: 10px;
}

.search-form {
    margin-bottom: 20px;
    text-align: center;
}

.search-form input[type="text"] {
    padding: 8px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #dbdbdb;
    margin-right: 10px;
}

.search-form button {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    background-color: darkgoldenrod;
    color: #fff;
    cursor: pointer;
}

.search-form button:hover {
    background-color: goldenrod;
}