.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.feed-title {
    margin: 0 0 15px;
}

/* Post list */
.post-list {
    list-style-type: none;
    padding: 0;
}

.title-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #dbdbdb;
}

.title-left {
    display: flex;
    align-items: center;
}

.title-left h2 {
    margin: 0;
}

.title-right {
    text-align: right;
    font-size: 0.9em;
    color: #555;
}

.post-item {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.post-item a{
    color: black;
}

.post-item a::after{
    transition: none;
    position: relative;
}

.post-item a:hover{
    color: darkgoldenrod;
}

.post-item h2 {
    font-size: 18px;
    padding: 0 10px;
}

.post-item p {
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.title-container p {
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.5;
}

.markdown-output {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.post-image {
    width: 100%;
    height: auto;
}

.profile-picture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
}

.pagination .current {
    font-weight: bold;
}

/* Filter options */
.filter-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid darkgoldenrod;
    border-radius: 30px;
    /* font-weight: bold; */
}

.filter-options a {
    margin: 0 10px;
}

.filter-options a.active {
    font-weight: bold;
}

.container {
    margin-top: 60px;
}


