body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 20vh;
}

h2{
    color: darkgoldenrod;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

input:hover {
    outline: none;
    border: 1px solid darkgoldenrod;
    box-shadow: darkgoldenrod 0px 0px 20px -5px;
}

input:focus {
    outline: none;
    border: 1px solid darkgoldenrod;
    box-shadow: darkgoldenrod 0px 0px 20px -5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: darkgoldenrod;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
    box-shadow: darkgoldenrod 0px 0px 20px -5px;
}

a {
    color: darkgoldenrod;
    text-decoration: none;
    margin-bottom: 5px ;
    font-size: 17px;
    position: relative;
}

a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: darkgoldenrod;
    transition: width 0.3s ease-in-out;
}

a:hover {
    color: goldenrod;
}
a:hover::after {
    width: 100%;
}